<mat-card>
 <div class="logo-section">
    <img src="assets\aynoraaa.jpeg" alt="Company Logo" class="logo" />
  </div>
  <h2>Forgot Password</h2>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter your email" formControlName="email">
      <mat-error *ngIf="forgotForm.get('email')?.invalid">Valid email required</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="forgotForm.invalid">
      Send Reset Code
    </button>
  </form>
</mat-card>
